<div id="getCurrentDate" class="container">
    <h3>Get Current Date Service</h3>
    <input type="button" value="Get Current Date" onclick="getCurrentDate()"/>
    <br/><br/>
    <table>
        <tr>
            <td>Current UTC Time:  </td>
            <td><input type="text" readonly="true" id="currentUtcTime"/> </td>
        </tr>
        <tr>
            <td>Time Zone:  </td>
            <td><input type="text" readonly="true" id="timeZone"/> </td>
        </tr>
        <tr>
            <td>Local Date: </td>
            <td><input type="text" readonly="true" id="localDate"/> </td>
        </tr>
    </table>
</div>