<div id="moveOneMonth" class="container">
    <h3>Move 1 Month Service</h3>
    <input type="button" value="Move 1 Month" onclick="moveOneMonth()"/>
    <br/><br/>
    <table>
        <tr>
            <td>New Current UTC Time:  </td>
            <td><input type="text" readonly="true" id="currentUtcTime"/> </td>
        </tr>
        <tr>
            <td>Time Zone:  </td>
            <td><input type="text" readonly="true" id="timeZone"/> </td>
        </tr>
        <tr>
            <td>New Local Date: </td>
            <td><input type="text" readonly="true" id="localDate"/> </td>
        </tr>
    </table>
</div>