<div id="applyCouponContainer" class="container">
    <h3>Apply Coupon Service</h3>
    <table>
        <tr>
            <td>Coupon Code:</td>
            <td><input type="text" id="couponCodeApply"/>
        </tr>
        <tr>
            <td>Account Id:</td>
            <td><input type="text" id="accountIdApply"/> </td>
        </tr>
        <tr>
            <td>Subscription Id: </td>
            <td><input type="text" id="subscriptionIdApply"/> </td>
        </tr>
    </table>
    <br/><input type="button" id="applyCouponButton" value="Apply Coupon" onclick="applyCoupon()"/>
    <br/><br/>
</div>