<div id="getAccountByIdContainer" class="container">
    <h3>Get Account by Id Service</h3>
    <table>
        <tr>
            <td id="accountIdLabel">Enter Account Id:  </td>
            <td><input type="text" id="accountId"/>
            <input type="button" id="getAccountInfoButton" value="Get Account Information" onclick="getAccountById()"/>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" readonly="true" id="name" /></td>
        </tr>
        <tr><td>External Key:</td>
            <td><input type="text" readonly="true" id="externalKey"/></td>
        </tr>
        <tr><td>E-mail:</td>
            <td><input type="text" readonly="true" id="email"/></td>
        </tr>
        <tr><td>Currency:</td>
            <td><input type="text" readonly="true" id="currency"/></td>
        </tr>
        <tr><td>Payment Method Id:</td>
            <td><input type="text" style="width:280px;" readonly="true" id="paymentMethodId"/></td>
        </tr>
        <tr><td>Bill Cycle day local:</td>
            <td><input type="text" readonly="true" id="billCycleDayLocal"/></td>
        </tr>
    </table>
</div>
