<div id="deactivateCouponByCouponCodeContainer" class="container">
    <h3>Deactivate Coupon by Coupon Code Service</h3>
    <table>
        <tr>
            <td>Enter Coupon Code:</td>
            <td><input type="text" id="deactivateCouponCode" size="10"/></td>
        </tr>
        <tr>
            <td>Stop honouring Coupon?:</td>
            <td><select id="stopHonouring">
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
            </select>
            </td>
        </tr>
    </table>
    <br/><input type="button" value="Deactivate Coupon" onclick="deactivateCouponByCouponCode()"/>
    <br/><br/>
</div>