<div id="getCouponByCouponCodeContainer" class="container">
    <h3>Get Coupon by Coupon Code Service</h3>
    <table>
        <tr>
            <td id="couponCodeLabel">Enter Coupon Code:  </td>
            <td><input type="text" id="couponCode" size="10"/><input type="button" id="getCouponInfoButton" value="Get Coupon Information" onclick="getCouponByCouponCode()"/>
        </tr>
        <tr>
            <td>Coupon Name:  </td>
            <td><input type="text" readonly="true" id="couponName" size="20"/> </td>
        </tr>
        <tr>
            <td>Is active?:  </td>
            <td><input type="text" readonly="true" id="isActive" size="10"/> </td>
        </tr>
        <tr>
            <td>Discount Type: </td>
            <td><input type="text" readonly="true" id="discountType" size="20"/> </td>
        </tr>
        <tr>
            <td>Percentage Discount: </td>
            <td><input type="text" readonly="true" id="percentageDiscount" size="3"/> </td>
        </tr>
        <tr>
            <td>Duration: </td>
            <td><input type="text" readonly="true" id="duration" size="15"/> </td>
        </tr>
        <tr>
            <td>Number of Invoices: </td>
            <td><input type="text" readonly="true" id="numberOfInvoices" size="2"/> </td>
        </tr>
        <tr>
            <td>Start date: </td>
            <td><input type="text" readonly="true" id="startDate" size="20"/> </td>
        </tr>
        <tr>
            <td>Expiration date: </td>
            <td><input type="text" readonly="true" id="expirationDate" size="20"/> </td>
        </tr>
        <tr>
            <td>Products: </td>
            <td><input type="text" readonly="true" id="products" size="100"/> </td>
        </tr>
    </table>
</div>
