<!--
  ~ Copyright 2014-2015 Groupon, Inc
  ~ Copyright 2014-2015 The Billing Project, LLC
  ~
  ~ The Billing Project licenses this file to you under the Apache License, version 2.0
  ~ (the "License"); you may not use this file except in compliance with the
  ~ License.  You may obtain a copy of the License at:
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->
<div id="getCouponByCouponCodeContainer" class="container">
    <h3>Get Coupon by Coupon Code Service</h3>
    <table>
        <tr>
            <td id="couponCodeLabel">Enter Coupon Code:  </td>
            <td><input type="text" id="couponCode" size="10"/><input type="button" id="getCouponInfoButton" value="Get Coupon Information" onclick="getCouponByCouponCode()"/>
        </tr>
        <tr>
            <td>Coupon Name:  </td>
            <td><input type="text" readonly="true" id="couponName" size="20"/> </td>
        </tr>
        <tr>
            <td>Is active?:  </td>
            <td><input type="text" readonly="true" id="isActive" size="10"/> </td>
        </tr>
        <tr>
            <td>Discount Type: </td>
            <td><input type="text" readonly="true" id="discountType" size="20"/> </td>
        </tr>
        <tr>
            <td id="percentageDiscountLabel">Percentage Discount: </td>
            <td><input type="text" readonly="true" id="percentageDiscount" size="3"/> </td>
        </tr>
        <tr>
            <td id="amountDiscountLabel" style="display:none;">Amount Discount: </td>
            <td><input type="text" readonly="true" id="amountDiscount" size="3" style="display:none;"/></td>
        </tr>
        <tr>
            <td id="amountCurrencyLabel" style="display:none;">Amount Currency: </td>
            <td><input type="text" readonly="true" id="amountCurrency" size="3" style="display:none;"/></td>
        </tr>
        <tr>
            <td>Duration: </td>
            <td><input type="text" readonly="true" id="duration" size="15"/> </td>
        </tr>
        <tr>
            <td>Number of Invoices: </td>
            <td><input type="text" readonly="true" id="numberOfInvoices" size="2"/> </td>
        </tr>
        <tr>
            <td>Max Number of Redemptions: </td>
            <td><input type="text" readonly="true" id="maxRedemptions"/> </td>
        </tr>
        <tr>
            <td>Start date: </td>
            <td><input type="text" readonly="true" id="startDate" size="20"/> </td>
        </tr>
        <tr>
            <td>Expiration date: </td>
            <td><input type="text" readonly="true" id="expirationDate" size="20"/> </td>
        </tr>
        <tr>
            <td>Products: </td>
            <td><input type="text" readonly="true" id="products" size="100"/> </td>
        </tr>
        <tr>
            <td>Plans: </td>
            <td><input type="text" readonly="true" id="plans" size="100"/> </td>
        </tr>
    </table>
</div>
